{{!-- {{#each this}}
<ul>
<li class="li-text">{{name}}</li>
</ul>
{{/each}} --}}

{{!-- //or without {{#each this} --}}
{{!-- <ul>
    <li class="li-text">{{name}}</li>
</ul>
// then you need to map. and join this object in const markup--}}

{{#each this}}
<div class="card">
    <h2 class="card-title">{{name}}</h2>
    <div class="card-card">    
        <div class="card-list">
            <ul class="ul-list">
                <li class="card-text"
                   <b>Capital:</b>  {{capital}}
                </li> <br>
                <li class="card-text">
                   <b>Population:</b> {{population}}
                </li>
                <li class="card-text">
                <b>Languages:</b>        
                    <ul class="list-group-item">
                        {{#each languages}}
                         <li class="li-text">{{name}}</li>
                            {{/each}}
                    </ul>
                </li>
            </ul>

        </div>

        <div class="card-list card-img">
            <img 
            src="{{flag}}" 
            alt="{{name}}" 
            >
          </div>
    </div>
</div>
{{/each}}